<!DOCTYPE html>
<html>
	<head>
		<title>Online Cookbook</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">		
		<link rel="stylesheet" href="/stylesheets/app.css">
	</head>
	
	<body>
		<div class="ui fixed menu">
			<div class="ui container">
				<div class="header item"><i class="food icon"></i>Online Cookbook</div>
				<a href="/" class="item">Home</a>
				<a href="/recipes/new" class="item">Add New Recipe</a>
				
				<div class="right menu">
					<a href="/" class="item">Login</a>
					<a class="item" href="/"><div class="ui button green">Sign Up</div></a>
				</div>
			</div>	
		</div>
