<% include ./partials/header %>

<div class="ui main text container">
	<div class="ui huge header">
		<h1>Error. Page not found! Try again later.</h1>	
	</div>
	<img style="height: 70%; width: 70%;" src='https://images.pexels.com/photos/230784/pexels-photo-230784.jpeg?w=940&h=650&auto=compress&cs=tinysrgb'>
</div>

<% include ./partials/footer %>
