<% include ./partials/header %>


<div class="ui main text container">
	<div class="ui huge header">Check out these recipes</div>
		<div class="ui top attached segment">
		<div class="ui divided items">
		<% recipes.forEach(function(recipe){ %>
			<div class="item">
				<div class="image">
					<img src="<%=recipe.image%>">
				</div>
				<div class='content'>
					<a class="header" href="/"><%=recipe.name%></a>
					<div class="description">
						<p><%= recipe.description %></p>
					</div>
					<div class="extra">
						<a href='/recipes/<%=recipe._id%>'><button class="ui button mini basic orange">View this Recipe</button></a>
					</div>
				</div>
			</div>
		<% }); %>
		</div>
	</div>
</div>

<% include ./partials/footer %>


