<% include ./partials/header %>
<div class="landing-bg">
<div class="ui main text container" id="landing">  
	<div class="landing-header">
		<h1> Food is better when you start from scratch </h1>
		<h2> Share your recipes online! </h2><br>
		<a href="/recipes"><button class="ui button orange">View all recipes</button></a>
		<a href="/recipes/new"><button class="ui button blue">Add a recipe</div></a>
	</div>	
</div>
</div>
<% include ./partials/footer %>
